<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
    <link rel="stylesheet" href="../css/menu.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

  </head>
  <body class="bg-dark">
    <!-- Video Background -->
    <video autoplay muted loop class="bg-video">
      <source src="../../Resources/trimm.mp4" type="video/mp4" />
    </video>

<!-- Header -->

    <header class="d-flex justify-content-center display-1 text-light my-3">
     BATTLESHIPS
    </header>


    <!-- Menu -->
    <div class="menu-container">
        <button class="menu-btn">Play</button>
        <button class="menu-btn">Rules</button>
        <button class="menu-btn">Credits</button>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>
