body,
html {
  z-index: -3;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 40px;
  --mark-size: calc(var(--cell-size) * 0.7);
  --cell--hover--color: #625a89;
  --cell--background--color: #0476d9;
  --border--radius: 2.3vmin;
}
.board {
  min-width: fit-content;
  max-width: fit-content;
  min-height: fit-content;
  max-height: fit-content;
  display: grid;
  grid-template-columns: repeat(10, auto);
  border: 1px solid white;
  z-index: 1;
  padding: 0;
}
.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1.5px solid white;
  display: flex;
  justify-content: center; /*col*/
  align-items: center; /*row*/
  position: relative;
}
.placed {
  cursor: not-allowed;
}

.cell:hover:not(.placed) {
  background-color: var(--cell--hover--color);
  opacity: 0.8;
}

.flex-display {
  display: flex;
  flex-direction: column;
}

.ship {
  display: flex;
  flex-wrap: wrap;
  margin: 1vmin;
  width: calc(var(--cell-size) * var(--width));
  height: calc(var(--cell-size) * 0.9);
}

.small-ship {
  --width: 2;
}
.medium-ship {
  --width: 3;
}
.larg-ship {
  --width: 4;
}
.massive-ship {
  --width: 5;
}

.start {
  /* clip-path: polygon(45% 0, 100% 0, 100% 100%, 45% 100%, 20% 50%); */
}
.end {
}

.flex-display div:not(.ship) {
  width: var(--cell-size);
  height: calc(var(--cell-size) * 0.9);
  background-color: #e8e3ff;
  border: 0;
  cursor: pointer;
}

#small-0 {
  background-color: transparent;
  background-image: url("../Resources/imgs/small-00.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#small-1 {
  background-color: transparent;
  background-image: url("../Resources/imgs/small-11.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}


#medium-0 {
  background-color: transparent;
  background-image: url("../Resources/imgs/medium-0.png");
  background-position: center;
  background-size: 100% 100% ;
  background-repeat: no-repeat;
  border: none;
}
#medium-1 {
  background-color: transparent;
  background-image: url("../Resources/imgs/medium-1.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#medium-2 {
  background-color: transparent;
  background-image: url("../Resources/imgs/medium-2.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#larg-0 {
  background-color: transparent;
  background-image: url("../Resources/imgs/larg-0.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#larg-1 {
  background-color: transparent;
  background-image: url("../Resources/imgs/larg-1.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#larg-2 {
  background-color: transparent;
  background-image: url("../Resources/imgs/larg-2.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#larg-3 {
  background-color: transparent;
  background-image: url("../Resources/imgs/larg-3.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#massive-0 {
  background-color: transparent;
  background-image: url("../Resources/imgs/massive-0.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#massive-1 {
  background-color: transparent;
  background-image: url("../Resources/imgs/massive-1.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#massive-2 {
  background-color: transparent;
  background-image: url("../Resources/imgs/massive-2.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#massive-3 {
  background-color: transparent;
  background-image: url("../Resources/imgs/massive-3.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#massive-4 {
  background-color: transparent;
  background-image: url("../Resources/imgs/massive-4.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.ship-placed {
  width: var(--cell-size);
  height: calc(var(--cell-size));
  background-color: #ff1616;
  border: none !important;
}
