@import url(https://fonts.googleapis.com/css?family=Teko:700);

:root{
     --border-color:#a8a8a8;
     --border-color-hover:#e9e9e9;
     --btn-text-color:#b3b3b3;
     --btn-text-color-hover:var(--border-color-hover)
}

*,*::after,*::before{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}



.bg-video{
     position: fixed;
     right: 0;
     bottom: 0;
     min-width: 100%;
     min-height: 100%;
     opacity: 0.3;
     z-index: -1;
}

header{
     font-family: 'Teko';
}


.menu-container{
     display: flex ;
     justify-content: center;
     flex-direction: column ;
     align-items: center;
     height: 80vh;
}


.menu-btn{
    width: 30%;
    height: 13%;
    margin: 0.5rem;
    background-color: transparent;
    border: 2px solid var(--border-color);
    outline: 2px solid var(--border-color);
    font-size: x-large;
    color:var(--btn-text-color);
    transition: border 0.8s,outline-offset 0.8s,color 0.5s;
}

.menu-btn:hover{
     color: var(--btn-text-color-hover) !important;
     border:2px solid var(--border-color-hover);
     outline: 2px solid var(--border-color-hover);
     outline-offset: -13px;
}
