:root{
     --cell-size: 55px;
}

.cell {
     width: var(--cell-size);
     height: var(--cell-size);
     border: 1.5px solid white;
     display: flex;
     justify-content: center; /*col*/
     align-items: center; /*row*/
     position: relative;
     
   }


.hit-usr-ship{
     animation-name: ship-hit;
     animation-duration: 0.5s;
     animation-iteration-count: 10;
     animation-direction: alternate;
     animation-fill-mode: forwards;
     
     background-color:  rgb(11, 4, 4);
}

.hit-npc-ship{
 background-color: red;
}
 
 @keyframes ship-hit {
      from{
          background-image:url('../Resources/icons/rocket-removebg-preview.png');

           background-position: center;
           background-size: 70%  70%;
           background-repeat: no-repeat;
           background-color:  rgb(22, 22, 22);
          }
      to{
          /* background-image:url('../Resources/icons/rocket-removebg-preview.png'); */
          
          background-color: rgb(52, 50, 50);
      }
 }
 


@media screen and (max-width:2560px){
     :root{
          --cell-size:55px
     }
}

@media screen and (max-width:1920px){
     :root{
          --cell-size:45px
     }

}

@media screen and (max-width:1500) {
     :root{
          --cell-size:35px;
     }
}

@media screen and (max-width:450px){
     :root{
          --cell-size:35px
     }
}

@media screen and (max-width:360px){
     :root{
          --cell-size:10vw;
     }
}


@media screen and (max-height:650px) {
     :root{
          --cell-size:32px;
     }
}